* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    min-height: 100vh;
    width: 100%;

    background-color: #633ca2;
    
    
   
}

.lista-de-midia-sociais{
    display: flex;
    flex-wrap: wrap; /* colocar a lista em linha um ao lado do outro*/
    justify-content: center;
    position: relative;
}

.lista-de-midia-sociais li {
    background-color: #633ca2;
    height: 60px;
    width: 60px;
    margin: 25px;
    position: relative;
    transform: rotate(-25deg) skew(25deg);
    transform-style: preserve-3d;
}

.lista-de-midia-sociais li::before{
    content: "";
    background-color: #633ca2;
    bottom: -10px;
    height: 10px;
    left: 0;
    position: absolute;
    transform: skewX(-41deg);
    transform-origin: top;
    width: 100%;
}

.lista-de-midia-sociais li::after{
    content: "";
    background-color: #633ca2;
    height: 100%;
    left: -9px;
    position: absolute; /* importante a posiçao do position */
    top: 0;
    transform: skewY(-49deg);
    transform-origin: right;
    width: 9px;
}

.lista-de-midia-sociais li a{
    font-size: 0.8em;
    padding: 0.05em;
    
}

.lista-de-midia-sociais li a span{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255, 0.7);
    font-size: 30px;
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    transition: 0.3s;
    top: 0;
    
}

.lista-de-midia-sociais li:hover span{
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
    color: #fff;
    transition: 0.6s;
    z-index: 1000;
}

.lista-de-midia-sociais li:hover span:nth-child(5){
    opacity: 1;
    transform: translate(40px, -40px);
    
}

.lista-de-midia-sociais li:hover span:nth-child(4){
    opacity: 0.8;
    transform: translate(30x, -30px);
    
}
.lista-de-midia-sociais li:hover span:nth-child(3) {
    opacity: 0.6;
    transform: translate(20px, -20px);
    
  }
  .lista-de-midia-sociais li:hover span:nth-child(2) {
    opacity: 0.6;
    transform: translate(10px, -10px);
    
  }
  .lista-de-midia-sociais li:hover span:nth-child(1) {
    opacity: 0.2;
    transform: translate(0px, 0px);
    
  }
  .lista-de-midia-sociais__item--linkedin span{
    background-color: #0a66c2;
  }
  .lista-de-midia-sociais__item--github span{
    background-color: #181717;
  }
  .lista-de-midia-sociais__item--google span{
    background-color: #ea4335;
  }
  .lista-de-midia-sociais__item--medium span{
    background-color: #000000;
  }
  .lista-de-midia-sociais__item--whatsapp span{
    background-color: #25d366;
  }
  .lista-de-midia-sociais__item--codepen span{
    background-color: #000000;
  }
  .lista-de-midia-sociais__item--instagram span{
    background-color: #e4405f;
  }
  .lista-de-midia-sociais__item--discord span{
    background-color: #5865f2;
  }
  .lista-de-midia-sociais__item--twitter span{
    background-color: #1da1f2;
  }